
<div class="row">
    <div class="col-12 text-center">
        <button class="btn btn btn-info btn-sm float-left" (click)="prevPage()"
            [disabled]="disable_prev || !(pagination_clicked_count>0)">Previous</button> <b>Page no: {{pagination_clicked_count+1}}</b>
        <button class="btn btn btn-info btn-sm float-right" (click)="nextPage()" [disabled]="disable_next">Next</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-4 col-xl-3 col-md-6 col-sm-12" *ngFor="let item of tableData">
            <div class="card mb-3">
                <div class="box view overlay">
                    <img src="{{item.cover}}" class="thumbnail" alt="Loading...">
                    <div class="mask flex-center rgba-black-strong">
                        <h5 class="white-text text-center">{{item.title}}</h5>
                    </div>
                </div>
                <div class="card-body">
                    
                </div>
            </div>
    </div>
</div>