<div class="area"></div>
<nav class="main-menu">
    <ul>
        <li>
            <i class="fa fa-bars fa-2x"></i>
            <span class="nav-logo">Watch Now</span>
        </li>
        <li>
            <a routerLink="/home" routerLinkActive="active">
                <i class="fa fa-home fa-2x"></i>
                <span class="nav-text">
                    Home
                </span>
            </a>
        
        </li>
        <li>
            <a routerLink="/movies" routerLinkActive="active">
                <i class="fa fa-film fa-2x"></i>
                <span class="nav-text">
                    Movies
                </span>
            </a>
            
        </li>
    </ul>

    <ul class="logout">
        <li>
        <a>
                <i class="fa fa-power-off fa-2x"></i>
                <span class="nav-text">
                    Logout
                </span>
            </a>
        </li>  
    </ul>
</nav>