
<div class="container mt-3">
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img src="{{tableData[0].cover}}" alt="LLLL" class="img-fluid">
        </div>
        <div class="col-md-8 col-sm-12">

            <div class="row">
                <div class="col">
                    <h3>{{tableData[0].title}}</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>{{tableData[0].description}}</p>
                </div>
            </div>

        </div>
    </div>
</div>

