/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap&subset=cyrillic');

html, body {
    min-width: 360px;
}

body {
    font-family: 'Oswald', sans-serif;
    background-color: #232323;
    color: #cdcdcd;
}

.scrollbar-primary::-webkit-scrollbar {
    width: 8px;
    background-color: #1a1a1a; 
}
    
.scrollbar-primary::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: rgb(50, 81, 167);
}