.holder{
    position:relative;
}
.block{
    position:absolute;
    height: 20%;
    left:0;
    bottom:0;
    right:0;
    background:rgba(27, 27, 27, 0.7);
    padding:5px;
    display:none;
}
.holder:hover .block{
    display:block;
}

.img-fluid {
    height: 510px;
    width: 100%;
}